do_token = "your-do-token"
do_token_rriv_cert_manager = "do-token-scoped-for-domain-read-update-only"
keycloak_client_secret = "your-keycloak-client-secret"
vpn_tailscale_authkey = "your-tailscale-authkey"
vpn_ssh_fingerprint = "YOUR_SSH_FINGERPRINT"
