# misc
**/*.DS_Store
**/*.log

# hidden files, excluding gitattributes
.*
!.gitattributes

# data folder
charts/**/data/
charts/**/data/**
**/lorawan-devices/**

**/ENV

**.key
**.pem
**.crt

# Terraform files
**/*secrets.auto.tfvars
**/backend-*.hcl
**/*.tfstate
**/*.tfstate.*
**/charts/*.tgz