# misc
**/*.DS_Store
**/*.log

# hidden files, excluding gitattributes
.*
!.gitattributes
!.zshrc.example

# data folder
charts/**/data/
charts/**/data/**
**/lorawan-devices/**

**/ENV

**.key
**.pem
**.crt
!**/letsencrypt-ca.crt

# Terraform files
**/*secrets.auto.tfvars
**/backend.hcl
**/*.tfstate
**/*.tfstate.*
**.tfvars
**/charts/*.tgz

# k8s
**/kubeconfig/*.yaml
