do_token = "your-do-token"
do_token_rriv_cert_manager = "do-token-scoped-for-domain-read-update-only" # in the rriv-management account!
keycloak_client_secret = "your-keycloak-client-secret" # Create this from Keycloak admin console upon initial login