do_token = "your-do-token"
vpn_tailscale_authkey = "your-tailscale-authkey"
vpn_ssh_fingerprint = "YOUR_SSH_FINGERPRINT"

# Vault
vault_tls_cert_file = "/path/to/vault-tls.crt"
vault_tls_ca_file = "/path/to/vault-tls.ca"
vault_tls_key_file = "/path/to/vault-tls.key"
