digitaloceanApiTokenSecret:
  name: prod-digitalocean-dns-api-key
  key: api-token
  namespace: cert-manager

certificate:
  name: rriv-prod-org-cert
  secretName: rriv-prod-org-tls
  dnsNames:
    - rriv.org
    - '*.rriv.org'
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer

clusterIssuer:
  server: https://acme-v02.api.letsencrypt.org/directory
  email: admin@rriv.org
  privateKeySecretRef:
    name: letsencrypt-account-key
  digitalocean:
    apiTokenSecretRef:
      name: prod-digitalocean-dns-api-key
      key: api-token
      namespace: cert-manager

externalSecret:
  secretStoreRef:
    name: cluster-secret-store
    namespace: external-secrets
    kind: ClusterSecretStore
    vault:
      server: https://vault.rriv.org:8200
      path: "secret"
      version: v2
  doApiKey:
    name: prod-digitalocean-dns-api-key
    namespace: cert-manager
    data:
      secretKey: api-token
      remoteRef:
        key: secret/prod-digitalocean-dns-api-key
        property: api-token
  timescaleCreds:
    name: prod-timescale-creds
    namespace: default
    data:
      secretKey: database_url
      remoteRef:
        key: secret/prod-timescale-creds
        property: database_url

ingress:
  secretName: rriv-prod-org-tls
  hosts:
    keycloak: auth.rriv.org
    vault: vault.rriv.org
    chirpstack: chirp.rriv.org
    chirpstackConsole: console-chirp.rriv.org
    webfinger: auth.rriv.org
    dataApi: api.rriv.org

ingress-nginx:
  controller:
    enabled: true
    publishService:
      enabled: true
    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/do-loadbalancer-name: "ingress-nginx-controller-prod"